/sberapi/target
/sberapi/lib
/sberapi/classes
/sberapi/checkouts
/sberapi/pom.xml
*.jar
*.class
/sberapi/.lein-*

/sberapi/.env
/sberapi/.nrepl-port
/sberapi/log
/sberapi/README.md~
/sberapi/DB/arenaparse/target
sberapi/DB/cl.clj
.gitignore~



/sberweb/target
/sberweb/lib
/sberweb/classes
/sberweb/checkouts
/sberweb/pom.xml
*.jar
*.class
*.cljs~
*.clj~
/sberweb/README.md~
/.lein-*

/sberweb/.env
/sberweb/.nrepl-port
/sberweb/log
sberweb/resources/public/js/**
