/sberapi/target
/sberapi/lib
/sberapi/classes
/sberapi/checkouts
/sberapi/pom.xml
*.jar
*.class
/sberapi/.lein-*
/sberapi/profiles.clj
/sberapi/.env
/sberapi/.nrepl-port
/sberapi/log
/sberapi/README.md~
.gitignore~



/sberweb/target
/sberweb/lib
/sberweb/classes
/sberweb/checkouts
/sberweb/pom.xml
*.jar
*.class
*.cljs~
*.clj~
/sberweb/README.md~
/.lein-*
/sberweb/profiles.clj
/sberweb/.env
/sberweb/.nrepl-port
/sberweb/log
