[
 ;; settings
 {:db/id #db/id[:db.part/db]
  :db/ident :setting/code
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity  
  :db/fulltext true
  :db/doc "Settings identifier"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :setting/data
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity  
  :db/fulltext true
  :db/doc "Settings data"
  :db.install/_attribute :db.part/db}


 ;; user
 {:db/id #db/id[:db.part/db]
  :db/ident :user/code
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity  
  :db/fulltext true
  :db/doc "A user's login"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's password"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/role
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A user's role"
  :db.install/_attribute :db.part/db}


 ;; security
 {:db/id #db/id[:db.part/db]
  :db/ident :security/acode
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity  
  :db/fulltext true
  :db/doc "Security Arena code"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :security/bcode
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/fulltext true
  :db/doc "Security bloomberg code"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :security/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc "Security name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :security/isin
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/fulltext true
  :db/doc "Security ISIN code"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :security/currency
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Security ISIN code"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :security/exchange
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "security trading exchange"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :security/assettype
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Bond = 5 /Share/Note etc/.."
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :security/multiple
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Multiple for futures"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :security/ismatured
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "Flag indicator whether security matured, dafault false"
  :db.install/_attribute :db.part/db}

 ;; issuer
 {:db/id #db/id[:db.part/db]
  :db/ident :issuer/code
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity  
  :db/fulltext true
  :db/doc "issuer name"
  :db.install/_attribute :db.part/db}

 ;; client
 {:db/id #db/id[:db.part/db]
  :db/ident :client/code
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity  
  :db/fulltext true
  :db/doc "Client internal code"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :client/name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Client full name"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :client/usd
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Client cash position in USD"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :client/rub
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Client cash position in RUB"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :client/eur
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Client cash position in EUR"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :client/gbp
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Client cash position in GBP"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :client/margin
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Client guaranted deposit"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :client/currency
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Client's currency"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :client/stockshare
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Client's stocks share"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :client/bondshare
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Client's stocks share"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :client/signedadvisory
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Client's stocks share"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :client/advemail
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Client Advisory email"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :client/email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Client's email"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :client/advisors
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Client to users relationship"
  :db.install/_attribute :db.part/db}


;; transactions

 {:db/id #db/id[:db.part/db]
  :db/ident :transaction/client
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Portfolio for Transaction"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :transaction/security
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Security bought / sold"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :transaction/nominal
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Transaction nominal"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :transaction/price
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Transaction price"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :transaction/direction
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "B for buy, S for sell"
  :db.install/_attribute :db.part/db}


 {:db/id #db/id[:db.part/db]
  :db/ident :transaction/tradedate
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Transaction book/value date"
  :db.install/_attribute :db.part/db}


 {:db/id #db/id[:db.part/db]
  :db/ident :transaction/valuedate
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Transaction book/value date"
  :db.install/_attribute :db.part/db}


 {:db/id #db/id[:db.part/db]
  :db/ident :transaction/currency
  :db/valueType :db.type/string
  :db/fulltext true
  :db/cardinality :db.cardinality/one
  :db/doc "Transaction currency"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :transaction/comment
  :db/valueType :db.type/string
  :db/fulltext true
  :db/cardinality :db.cardinality/one
  :db/doc "Transaction currency"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :transaction/refnum
  :db/valueType :db.type/string
  :db/fulltext true
  :db/cardinality :db.cardinality/one
  :db/doc "Transaction reference number"
  :db.install/_attribute :db.part/db}



;; prices

 {:db/id #db/id[:db.part/db]
  :db/ident :price/security
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Security db/id"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :price/lastprice
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "LAST price"
  :db.install/_attribute :db.part/db}


{:db/id #db/id[:db.part/db]
  :db/ident :price/targetprice
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Target price for stocks or accrued for bonds"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :price/analystrating
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Target price"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :price/yield
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Current yield for bonds or dividend yield for shares"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :price/valuedate
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Price date"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :price/dvddate
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Ex didivdend date"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :price/duration
  :db/valueType :db.type/double
  :db/cardinality :db.cardinality/one
  :db/doc "Current duration for bonds"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :price/putdate
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "Put date for bonds or Next didivdend declaration for stocks"
  :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
  :db/ident :price/source
  :db/valueType :db.type/string
  :db/fulltext true
  :db/cardinality :db.cardinality/one
  :db/doc "Source for the price"
  :db.install/_attribute :db.part/db}  
 
 {:db/id #db/id[:db.part/db]
  :db/ident :price/comment
  :db/valueType :db.type/string
  :db/fulltext true
  :db/cardinality :db.cardinality/one
  :db/doc "Comment for price (manual, auto, etc.."
  :db.install/_attribute :db.part/db}
 ]
