a {
  border-style: none !important;
}

h1 {
  text-decoration: underline;
}
.portrait {
    width: 92px;
}

.tdtable {
    vertical-align: middle !important;
}


.table_tr_background {
	background-color:#F5F5F5;
}

.badge {
    background-color: red !important;
    color: white !important;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.company-logo-logon{
    margin: 0 auto;
    height: 300px;
}


@media screen and (min-width: 300px) {
  h4 {font-size: 8px;}
  .col-xs-1 {font-size: 8px; padding-left: 0px; padding-right: 0px;} 
  
  .list-group-item {padding: 8px 0px;}
  .panel-heading {padding: 8px 0px;}
  .col-xs-2 {font-size: 8px; padding-left: 0px; padding-right: 0px;}
  .col-xs-3 {font-size: 8px; padding-left: 0px; padding-right: 0px;}
  .colbtn {font-size: 10px; padding: 8px 0px;}
  .plprogress {font-size: 8px;}
  .plprdiv {padding-top: 4px; padding-right: 0px; padding-left: 0xpx}
}

@media screen and (min-width: 800px) {
  h4 {font-size: 14px;}
  .col-md-1 {font-size: 14px;}
  .col-md-2 {font-size: 14px;}  
  .colbtn {font-size: 14px;}
  .col-xs-2 {font-size: 14px; padding-left: 0px; padding-right: 0px;}  
  .col-xs-3 {font-size: 14px; padding-left: 0px; padding-right: 0px;}  
  .plprogress {font-size: 12px;}
  .plprdiv {padding-top: 10px; padding-right: 0px; padding-left: 0xpx}
}



@-webkit-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-moz-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@-o-keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}
@keyframes ld {
  0%   { transform: rotate(0deg) scale(1); }
  50%  { transform: rotate(180deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}

/* Tooltip text */
.clientcode .clientinfo {
  visibility: hidden;
  width: 300px;
  background-color: aqua;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  margin-left: 100px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.clientcode:hover .clientinfo {
  visibility: visible;
}

.clientcash .cashinfo {
  visibility: hidden;
  width: 300px;
  background-color: aqua;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.clientcash:hover .cashinfo {
  visibility: visible;
}

.m-progress {
    position: relative;
    opacity: .8;
    color: transparent !important;
    text-shadow: none !important;
}

.m-progress:hover,
.m-progress:active,
.m-progress:focus {
    cursor: default;
    color: transparent;
    outline: none !important;
    box-shadow: none;
}

.m-progress:before {
    content: '';
    
    display: inline-block;
    
    position: absolute;
    background: transparent;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    
    box-sizing: border-box;
    
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    
    width: 24px;
    height: 24px;
    
    -webkit-animation: ld 1s ease-in-out infinite;
    -moz-animation:    ld 1s ease-in-out infinite;
    -o-animation:      ld 1s ease-in-out infinite;
    animation:         ld 1s ease-in-out infinite;
}

.btn-default.m-progress:before {
    border-left-color: #333333;
    border-right-color: #333333;
}

.btn-lg.m-progress:before {
    margin-top: -16px;
    margin-left: -16px;
    
    width: 32px;
    height: 32px;
}

.btn-sm.m-progress:before {
    margin-top: -9px;
    margin-left: -9px;
    
    width: 18px;
    height: 18px;
}

.btn-xs.m-progress:before {
    margin-top: -7px;
    margin-left: -7px;
    
    width: 14px;
    height: 14px;
}
